.handle {
  position: absolute;
  width: 4px;
  height: 20px;
  background-color: white;
  border: 1px solid lightblue;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 0 4px 4px 0;
}

.handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.handle-w,
.handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.handle-w {
  left: 0;
}
.handle-e {
  right: 0;
}
.handle-n,
.handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.handle-n {
  top: 0;
  transform: rotate(225deg);
}
.handle-s {
  bottom: 0;
  transform: rotate(45deg);
}
